.online_icon_chat {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.1em;
    right: 0em;
    border: 1.5px solid white;
}
.img_cont_chat {
    position: relative;
    height: 40px;
    width: 40px;
}
.offline {
    background-color: #c23616 !important;
}
.user_img_chat {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}
.rounded-circle_chat {
    border-radius: 50%;
    border: 1.5px solid white;
}

.card_body_chat {
    margin: 25px;
}
.msg_card_body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 400px;
}
.msg_card_body::-webkit-scrollbar {
    display: none;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.css-y1c0xs::-webkit-scrollbar {
    display: none;
}
.css-y1c0xs {
    -ms-overflow-style: none;
}