.root {
    padding: 0;
    margin: 0;
    position: 'fixed';
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
}
.main-minimal-layout {
    padding: 24px;
}