.content-layout-basic {
    padding: 24px 24px;
    background: #fff;
}
.ant-layout-header {
    padding: 0;
}
.loading-fetchData-basicLayout {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto
}

.ant-layout-sider-light {
    flex: 0 0 240px !important;
    max-width: 240px !important;
    min-width: 240px !important;
    width: 240px !important;
}