.content_chat {
    float: left;
    width: 100%;
    padding: 5px;
}
.content_chat_send {
    float: right;
    width: 100%;
    padding: 5px;
}
.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}
.msg_cotainer {
    position: relative;
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.msg_cotainer p {
    float: left;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #d3adf7;
    padding: 5px;
}
.msg_time {
    position: absolute;
    font-size: 10px;
    left: 5%;
    bottom: 0%;
}
.msg_cotainer_send {
    position: relative;
    float: right;
    width: 70%;
    vertical-align: top;
}
.msg_cotainer_send p {
    float: right;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #ffadd2;
    padding: 5px;
}
.msg_time_send {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 10px;
}
.img_cont_msg_send {
    height: 40px;
    width: 40px;
    float: right;
}
.img_cont_msg {
    height: 40px;
    width: 40px;
    float: left;
}

.msg_cotainer_admin {
    position: relative;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin: 5px;
}
.msg_cotainer_admin p {
    float: left;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #95de64;
    padding: 5px;
}