.list {
    max-height: 400px;
    overflow: auto;
}
.notFound {
    padding: 73px 0 88px;
    color: red;
    text-align: center;
}
.notFound img {
    display: inline-block;
    height: 76px;
    margin-bottom: 16px;
}
.avatar {
    margin-top: 4px;
    background: #fff;
}
.iconElement {
    font-size: 32px;
}
.meta {
    width: 100%;
}
.title {
    margin-bottom: 8px;
    font-weight: normal;
}
.extra {
    float: right;
    margin-top: -1.5px;
    margin-right: 0;
    color: blue;
    font-weight: normal;
}
.description {
    font-size: 12px;
    /* line-height: @line-height-base; */
}
.datetime {
    margin-top: 4px;
    font-size: 12px;
    /* line-height: @line-height-base; */
}
.bottomBar {
    height: 46px;
    /* color: @text-color; */
    line-height: 46px;
    text-align: center;
    /* border-top: 1px solid @border-color-split; */
    /* border-radius: 0 0 @border-radius-base @border-radius-base; */
    transition: all 0.3s;
}
