.list-users-home {
    overflow-y: scroll;
    height: 500px;
}
.list-users-home::-webkit-scrollbar {
    display: none;
}
.list-users-home {
    -ms-overflow-style: none;
}
.img_cont{
    position: relative;
    height: 40px;
    width: 40px;
}
.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}
.offline{
    background-color: #c23616 !important;
}
.user_img{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
}
.rounded-circle {
    border-radius: 50%;
    border:1.5px solid white;
}