.list-content {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
}
.loading-content {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
