@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';

@media screen and (max-width: 576px)
{
    .ant-list-vertical .ant-list-item-extra {
        margin: 0;
    }
    .ant-list-vertical .ant-list-item-main {
        min-width: 200px;
    }
}
.ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 0;
}
.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
}

/* hide icon in input type number */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loading-auth-global {
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

img {
    object-fit: cover;
}