.logo-header
{
    width: 150px;
    float: left;
    position: relative;

    font-size: 1.6rem;
    font-family: 'Pacifico';
    color: #424242;
}
.logo-header a
{
    padding: 10px;
}
.icon-app {
    font-size: 32px;
    position: absolute;
    top: 25%;
}
.name-app
{
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    left: 35%;
}