.listContentWrapper-profile {
    width: 200px;
}
.listContent-avatar {
    float: left;
}
.listContent-address {
    float: left;
    margin-left: 8px;
}
.listContent-name {
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-left: 8px;
    float: left;
}
.button-view {
    position: relative;
    height: 25px;
}   
.listContent-buttonView-profile {
    position: absolute !important;
    right: 0;
}
.listContent-story {
    margin: 10px 0 10px 0;
}